[submodule ".registry"]
	path = .registry
	url = https://github.com/nano-optics/universe
	branch = HEAD
[submodule "dielectric"]
	path = dielectric
	url = https://github.com/nano-optics/dielectric
[submodule "cda"]
	path = cda
	url = https://github.com/nano-optics/cda
[submodule "planar"]
	path = planar
	url = https://github.com/nano-optics/planar
[submodule "mie"]
	path = mie
	url = https://github.com/nano-optics/mie
[submodule "rcppfaddeeva"]
	path = rcppfaddeeva
	url = https://github.com/nano-optics/rcppfaddeeva
[submodule "cubs"]
	path = cubs
	url = https://github.com/nano-optics/cubs
[submodule "terms"]
	path = terms
	url = https://github.com/nano-optics/terms
